In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)

display(df.head())

               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

In [ ]:
gender_counts = df['Gender'].value_counts()
print("Total number of Males and Females:")
display(gender_counts)

Total number of Males and Females:

Gender
Male      501
Female    471
Name: count, dtype: int64

In [ ]:
print("\nGender distribution by Department:")
display(df.groupby('Department')['Gender'].value_counts())

print("\nGender distribution by Location:")
display(df.groupby('Loc')['Gender'].value_counts())

Gender distribution by Department:

Department                Gender
Accounting                Male      40
                          Female    30
Business Development      Female    42
                          Male      38
Engineering               Female    38
                          Male      38
Human Resources           Female    44
                          Male      39
Legal                     Male      51
                          Female    36
Marketing                 Male      35
                          Female    33
Product Management        Male      49
                          Female    42
Research and Development  Female    39
                          Male      34
Sales                     Male      41
                          Female    38
Services                  Female    42
                          Male      38
Support                   Male      43
                          Female    37
Training                  Male      40
                          Female    38
Name: count, dtype: int64

Gender distribution by Location:

Loc          Gender
Bellevue     Male      135
             Female    127
Los Angeles  Male      194
             Female    176
Wellington   Male      172
             Female    168
Name: count, dtype: int64

In [ ]:
df['Salary'] = df['Salary'].replace({'\$': '', ',': ''}, regex=True).astype(float)

average_salary_by_department = df.groupby('Department')['Salary'].mean().sort_values(ascending=False)

print("\nAverage Salary by Department:")
display(average_salary_by_department)

highest_avg_salary_department = average_salary_by_department.index[0]
print(f"\nDepartment with the highest average salary: {highest_avg_salary_department}")

Average Salary by Department:

Department
Business Development        77089.135802
Marketing                   76774.923077
Accounting                  76358.507463
Training                    76036.623377
Services                    75734.756098
Support                     75029.135802
Product Management          73201.348315
Sales                       72159.125000
Engineering                 72139.875000
Legal                       71477.272727
Human Resources             70936.951220
Research and Development    68445.405405
Name: Salary, dtype: float64

Department with the highest average salary: Business Development

In [ ]:
average_salary_by_location = df.groupby('Loc')['Salary'].mean().sort_values(ascending=False)

print("\nAverage Salary by Location:")
display(average_salary_by_location)

highest_avg_salary_location = average_salary_by_location.index[0]
print(f"\nLocation with the highest average salary: {highest_avg_salary_location}")

Average Salary by Location:

Loc
Bellevue       75560.193798
Los Angeles    73930.891892
Wellington     72406.918605
Name: Salary, dtype: float64

Location with the highest average salary: Bellevue

In [ ]:
rating_counts = df['Rating'].value_counts()
total_employees = len(df)

rating_percentage = (rating_counts / total_employees) * 100

print("\nPercentage of employees by Rating:")
display(rating_percentage)

Percentage of employees by Rating:

Rating
Average      45.418719
Good         18.817734
Poor         13.201970
Very Good     9.162562
Not Rated     7.783251
Very Poor     5.615764
Name: count, dtype: float64

In [ ]:
gender_salary_by_department = df.groupby(['Department', 'Gender'])['Salary'].mean().unstack()
gender_salary_by_department['Pay Gap'] = gender_salary_by_department['Male'] - gender_salary_by_department['Female']

print("\nGender Pay Gap by Department:")
display(gender_salary_by_department)

Gender Pay Gap by Department:

Gender                          Female          Male      Pay Gap
Department
Accounting                72938.928571  77530.000000  4591.071429
Business Development      74627.804878  82016.486486  7388.681608
Engineering               75422.105263  67916.944444 -7505.160819
Human Resources           66578.780488  73796.052632  7217.272144
Legal                     68506.764706  72997.959184  4491.194478
Marketing                 79107.741935  73701.818182 -5405.923754
Product Management        70773.170732  76100.851064  5327.680332
Research and Development  66603.947368  69062.580645  2458.633277
Sales                     70406.666667  72039.750000  1633.083333
Services                  73075.476190  79456.216216  6380.740026
Support                   72030.000000  77414.523810  5384.523810
Training                  77082.222222  74342.894737 -2739.327485

In [ ]:
gender_salary_by_location = df.groupby(['Loc', 'Gender'])['Salary'].mean().unstack()
gender_salary_by_location['Pay Gap'] = gender_salary_by_location['Male'] - gender_salary_by_location['Female']

print("\nGender Pay Gap by Location:")
display(gender_salary_by_location)

Gender Pay Gap by Location:

Gender             Female          Male      Pay Gap
Loc
Bellevue     73639.083333  76638.153846  2999.070513
Los Angeles  72104.502924  75262.486486  3157.983563
Wellington   70992.298137  73767.256098  2774.957961

In [ ]:
# Additional Exercise 1: Analyze the relationship between Rating and Salary
print("\nAverage Salary by Rating:")
display(df.groupby('Rating')['Salary'].mean().sort_values(ascending=False))

# Additional Exercise 2: Check for missing values
print("\nMissing values per column:")
display(df.isnull().sum())

# Additional Exercise 3: Analyze missing values in the 'Department' column
print("\nMissing values in Department column:")
display(df[df['Department'].isnull()])

# Additional Exercise 4: Analyze missing values in the 'Gender' column
print("\nMissing values in Gender column:")
display(df[df['Gender'].isnull()])

Average Salary by Rating:

Rating
Very Good    76154.175824
Poor         75521.954887
Not Rated    75484.400000
Very Poor    74286.851852
Good         74208.241758
Average      72319.839817
Name: Salary, dtype: float64

Missing values per column:

Name           0
Gender        43
Department    28
Salary        43
Loc            0
Rating         0
dtype: int64

Missing values in Department column:

                  Name  Gender Department    Salary          Loc     Rating
2      Sidoney Yitzhok  Female        NaN  118440.0   Wellington  Not Rated
30       Mollie Hanway    Male        NaN  112650.0     Bellevue    Average
62         Bab Bridger    Male        NaN   87900.0  Los Angeles    Average
66     Gwenneth Fealey  Female        NaN  114770.0   Wellington    Average
67    Kerrie Cockshutt    Male        NaN   73530.0     Bellevue    Average
103      Corri Ellcome  Female        NaN   81180.0  Los Angeles    Average
182          Iris Wagg  Female        NaN   58860.0  Los Angeles    Average
208      Deedee Ciotto    Male        NaN   34830.0     Bellevue       Poor
237         Sadie Ratt    Male        NaN   38660.0     Bellevue       Good
274      Greta Bagehot  Female        NaN  111420.0  Los Angeles  Not Rated
301   Garvin Delacroix    Male        NaN   46250.0   Wellington    Average
314         Ab Lehrian    Male        NaN   82240.0     Bellevue    Average
337   Julietta Culross  Female        NaN   44400.0     Bellevue    Average
342   Revkah Antonacci    Male        NaN  109140.0   Wellington    Average
343      Dewey Berthod  Female        NaN       NaN     Bellevue    Average
353        Clari Boole    Male        NaN  111850.0  Los Angeles    Average
384   Minerva Ricardot    Male        NaN  105470.0   Wellington  Not Rated
420      Northrop Reid  Female        NaN   51170.0  Los Angeles    Average
470   Aloise MacCathay    Male        NaN       NaN     Bellevue    Average
639      Staford Brood  Female        NaN   39800.0  Los Angeles       Good
737        Ryun Fasset    Male        NaN  101120.0  Los Angeles  Very Good
766      Mollie Hanway    Male        NaN  112650.0     Bellevue    Average
800  Bealle Glentworth    Male        NaN   99480.0   Wellington       Poor
835    Malva Iacovacci  Female        NaN   65130.0   Wellington    Average
883     Bonnie Newland    Male        NaN   91450.0   Wellington    Average
911       Bill Luffman     NaN        NaN   41570.0   Wellington    Average
927  Clement Penhearow  Female        NaN   58310.0  Los Angeles    Average
942      Odessa Pusill  Female        NaN   41000.0     Bellevue  Not Rated

Missing values in Gender column:

,Name,Gender,Department,Salary,Loc,Rating
3,Saunders Blumson,NaN,Legal,56370.0,Los Angeles,Very Good
8,Rayna Gamlin,NaN,Services,NaN,Wellington,Average
45,Fancy Bonin,NaN,Training,84680.0,Bellevue,Good
47,Beatrix Schoales,NaN,Sales,114010.0,Los Angeles,Average
48,Clemmie Hebblewaite,NaN,Services,54130.0,Los Angeles,Very Poor
74,Grover Cooksey,NaN,Services,74620.0,Los Angeles,Poor
114,Mile Swindley,NaN,Business Development,NaN,Los Angeles,Average
154,Amaleta Baltzar,NaN,Research and Development,70080.0,Bellevue,Very Poor
169,Vassili Flay,NaN,Research and Development,108970.0,Wellington,Average
172,Norrie Grahl,NaN,Business Development,42950.0,Wellington,Poor
195,Peria Revey,NaN,Engineering,103240.0,Los Angeles,Good
218,Tadio Audritt,NaN,Human Resources,99450.0,Wellington,Average
225,Berny Bastide,NaN,Research and Development,56710.0,Los Angeles,Average
251,Egor Minto,NaN,Legal,63450.0,Wellington,Good
262,Nanice Boatwright,NaN,Marketing,105870.0,Wellington,Very Poor
327,Delinda Snozzwell,NaN,Engineering,67010.0,Wellington,Good
350,Inger Andriveaux,NaN,Accounting,107110.0,Wellington,Good
368,Bethanne Leicester,NaN,Services,72450.0,Wellington,Not Rated
370,Barnaby Farnall,NaN,Engineering,118800.0,Los Angeles,Very Good
410,Marissa Infante,NaN,Training,78840.0,Bellevue,Average
421,Nananne Gehringer,NaN,Support,104800.0,Bellevue,Average
429,Ali Roubert,NaN,Engineering,69460.0,Wellington,Very Good
445,Gisela Wille,NaN,Support,58850.0,Bellevue,Poor
551,Clarine Shambrooke,NaN,Support,93160.0,Bellevue,Average
559,Saunders Blumson,NaN,Legal,56370.0,Wellington,Average
600,Edgard Irving,NaN,Research and Development,87290.0,Los Angeles,Good
602,Kikelia Ellor,NaN,Engineering,34620.0,Los Angeles,Very Good
644,Zebulon Allmen,NaN,Business Development,52140.0,Wellington,Average
672,Grady Crosgrove,NaN,Sales,77910.0,Los Angeles,Average
694,Delinda Snozzwell,NaN,Engineering,67010.0,Wellington,Good
723,Benny Karolovsky,NaN,Human Resources,115440.0,Wellington,Average
729,Purcell Le Pine,NaN,Legal,101220.0,Los Angeles,Good
735,Alysa Wankling,NaN,Legal,106460.0,Bellevue,Good
758,Anjanette Ferre,NaN,Human Resources,67960.0,Wellington,Average
768,Jolynn Lumbley,NaN,Research and Development,70020.0,Wellington,Average
857,Lisle Danahar,NaN,Sales,75990.0,Los Angeles,Average
859,Anjela Spancock,NaN,Accounting,98010.0,Bellevue,Average
911,Bill Luffman,NaN,NaN,41570.0,Wellington,Average
961,Juanita Trembey,NaN,Business Development,54780.0,Los Angeles,Very Good
973,Alisha Bloschke,NaN,Product Management,36480.0,Wellington,Average
989,Frasquito Mosley,NaN,Support,48090.0,Wellington,Not Rated
992,Fairfax Wallsam,NaN,Sales,88590.0,Wellington,Average
1005,Madge McCloughen,NaN,Training,91310.0,Los Angeles,Average